body {
	font-family: Arial,Helvetica,sans-serif;
	background: #dddddd;
}
td {
	font-family: Arial,Helvetica,sans-serif;
	background: #eeeeee;
	text-align: left;
	vertical-align: top;
}


td.strike {
	text-decoration: line-through;
	background: yellow;
}
td.completed {
	text-decoration: line-through;
}
td.plain {
	text-decoration: none;
}

div.unlistened {
	position: fixed;
	top: 30px;
	left: 10px;
}
div.listened {
	overflow: scroll;
	position: fixed;
	top: 30px;
	left: 350px;
	height: 700px;
}
div.classifyAudio {
	position: fixed;
	top: 20px;
	left: 450px;
}
div.jplayer-container {
	position: fixed;
	top: 20px;
	left: 20px;
}
div.work-logs{
	position: fixed;
	top: 450px;
	left: 730px;
	overflow: scroll;
	height: 310px;
}
div.work-notes{
	position: fixed;
	top: 155px;
	left: 20px;
	overflow: scroll;
	width: 700px;
	height: 610px;
}
div.work-message {
	position: fixed;
	top: 30px;
	left: 730px;
}
div.refreshCountdown {
	position: fixed;
	top: 5px;
	left: 5px;
}
div.jsplayerWorkTicket {
	position: fixed;
	top: 30px;
	left: 20px;
}
td {
	padding: 5px;
}
